<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>Chapitre n°1</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../src/css/main_style.css" rel="stylesheet" />
    <link href="../src/css/guided_visit.css" rel="stylesheet" />
    <link href="../src/css/frise.css" rel="stylesheet" />
    <!-- Roboto Regular 400 font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main_div">
      <div id="menu_panel" class="menu_panel_closed">
        <div id="menu_mask"></div>
        <div id="menu_header">
          <button id="menu_header_button">
            <img
              id="menu_header_img"
              src="../assets/icons/Vector.svg"
              alt="Vector icon"
            />
          </button>
        </div>
        <div id="menu_content">
          <div class="frise">
            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx" id="0">
                    <div class="timestamp">
                      Approvisionner Lyon, un enjeu régional
                    </div>
                    <div class="item-title">1780</div>
                    <div class="item-desc">
                      Inauguration du canal de Givors à Rive-de-Gier
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="2">
                    <div class="timestamp">
                      Le canal et l'industrie du verre
                    </div>
                    <div class="item-title">1785</div>
                    <div class="item-desc">
                      Première verrerie attestée à Rive-de-Gier
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="5">
                    <div class="timestamp">
                      Le premier bassin houiller exploité en France
                    </div>
                    <div class="item-title">1810</div>
                    <div class="item-desc">
                      Loi organisant l'exploitation du bassin houiller
                      stéphanois
                    </div>
                    <div class="item-title">1816</div>
                    <div class="item-desc">
                      Création de l'Ecole des Mines de Saint-Etienne
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="7">
                    <div class="timestamp">
                      Importer la culture technique anglaise
                    </div>
                    <div class="item-title">1832</div>
                    <div class="item-desc">
                      Inauguration de la ligne de Saint-Etienne à Lyon, première
                      ligne de chemin de fer à vapeur de France
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="10">
                    <div class="timestamp">
                      Les aciéries de la Marine à Saint-Chamond, premières
                      aciéries de France
                    </div>
                    <div class="item-title">1854</div>
                    <div class="item-desc">
                      Création des Hauts fourneaux, forges et aciéries de la
                      Marine et des chemins de fer
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="12">
                    <div class="timestamp">Les forges de l'Horme</div>
                    <div class="item-title">1821</div>
                    <div class="item-desc">
                      CImplantation d'une forge à l'anglaise à l'Horme
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="14">
                    <div class="timestamp">Création de communes nouvelles</div>
                    <div class="item-title">1847</div>
                    <div class="item-desc">
                      Création de la commune de Lorette
                    </div>
                    <div class="item-title">1860</div>
                    <div class="item-desc">
                      Création de la commune de Grand Croix
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="16">
                    <div class="timestamp">
                      De l'Horme à Rive de Gier, les « forges en ville » et en
                      campagne
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="17">
                    <div class="timestamp">
                      Les verriers parmi les métallurgistes
                    </div>
                    <div class="item-title">1906</div>
                    <div class="item-desc">
                      Création de la verrerie Hémain (Verrerie Duralex, de 2004
                      à sa fermeture en 2007)
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="18">
                    <div class="timestamp">L'usine des Etaings</div>
                    <div class="item-title">1866</div>
                    <div class="item-desc">
                      Création de la nouvelle usine des frères Marrel aux
                      Etaings
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="20">
                    <div class="timestamp">Le quartier du Couzons</div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="23">
                    <div class="timestamp">Un siècle d'industrialisation</div>
                    <div class="item-desc">
                      Comparer l'urbanisation de la vallée dans les années 1820
                      et 1930
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="26">
                    <div class="timestamp">Pour en savoir plus</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="home_panel" class="half_width pink">
        <div class="content_panel">
          <div class="text_panel panel">
            <h1 class="visit_number">Chapitre n°1</h1>
            <h1 class="visit_title">Un projet industriel hors norme</h1>
            <div class="img_div">
              <img
                src="https://raw.githubusercontent.com/LorenzoMarnat/VDG_images/main/PH1/home.png"
              />
              <button class="info_button">
                <img src="../assets/icons/Info.svg" />
              </button>
              <div class="info_div">
                Carte postale ancienne : vue générale de la vallée du Gier
                depuis les établissements des aciéries de la Marine à
                Assailly-Lorette. (non datée - probablement prise dans
                l'entre-deux-guerres)<br />
                Bibliothèque municipale de Lyon (creative commons). Retrouver la
                photo
                <a
                  href="https://numelyo.bm-lyon.fr/BML:BML_01ICO00101B01CP42420_000003?&query%255B%255D=%2522rail%2522&hitStart=130&hitTotal=234&hitPageSize=16"
                  >ici</a
                >
              </div>
            </div>
          </div>
          <div class="caption_panel panel"></div>
          <div class="footer_panel panel">
            <div>
              <button id="start_button" class="arrow_button button_right">
                <img
                  class="arrow_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="main_panel" class="pink_border">
        <div class="content_panel">
          <div class="header_panel panel">
            <div id="categories_div"></div>
          </div>
          <div class="text_panel panel">
            <div id="media_container"></div>
          </div>
          <div class="caption_panel panel"></div>
          <div class="footer_panel panel">
            <div id="progress_div">
              <button id="previous_button" class="arrow_button button_left">
                <img
                  class="arrow_img pink_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
              <h3 id="progress_count"></h3>
              <button id="next_button" class="arrow_button button_right">
                <img
                  class="arrow_img pink_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
            </div>
          </div>
        </div>
        <div id="layer_div">
          <div id="layer_panel"></div>
          <button id="layer_button">
            <img
              id="layer_button_icon"
              src="../assets/icons/layerChoice.svg"
              alt="Layer choice icon"
            />
          </button>
        </div>
      </div>
      <button id="homepage_button" onclick="location.href = '../index.html';">
        <img
          id="homepage_img"
          src="../assets/icons/Industry_building.svg"
          alt="homepage button"
        />
      </button>
    </div>
    <script src="../dist/release/vdg_app.js"></script>
    <!-- <script src="../dist/debug/vdg_app.js"></script> -->
    <script type="text/javascript">
      const list = [];
      const urls = [
        '../assets/config/visitConfig.json',
        '../assets/config/mediaConfig.json',
        '../assets/config/captionConfig.json',
      ];
      const configs = [];

      urls.forEach(function (url, i) {
        list.push(
          fetch(url)
            .then((response) => response.json())
            .then((json) => {
              configs[i] = json;
            })
        );
      });

      Promise.all(list).then(function () {
        const visitConfig = configs[0];
        const mediaConfig = configs[1];
        const captionConfig = configs[2];
        const app = new vdg_app.Templates.AllWidget();

        app.start('../assets/config/layerConfig.json').then((config) => {
          vdg_app.addLabelLayers(config, app.view3D.getItownsView());

          const conf = visitConfig.visits.find((v) => v.id == 'PH1');
          const panel = new vdg_app.Panel(captionConfig);
          const visit = new vdg_app.GuidedVisit(
            app.view3D,
            conf,
            mediaConfig.medias,
            panel.mediaContainer
          );
          panel.setVisit(visit);

          const timestamps = document.querySelectorAll('.rb-item');
          for (const timestamp of timestamps) {
            timestamp.addEventListener('click', function () {
              panel.goToVisitNode(parseInt(timestamp.id, 10));
            });
          }

          let allWidgetPanel = document.getElementById(
            '_all_widget_stuct_main_panel'
          );
          allWidgetPanel.style.display = 'block';
          allWidgetPanel.querySelector('nav').style.display = 'none';
          window.dispatchEvent(new Event('resize'));

          visit.filterLayers([
            'Ortho_IGN',
            'communes',
            'BATI-AUTRE',
            'BATI-INDUS',
          ]);
          const startButton = document.getElementById('start_button');
          startButton.addEventListener('click', function () {
            document.getElementById('home_panel').style.display = 'none';
            document.getElementById('main_panel').style.display = 'flex';
            panel.goToVisitNode(visit.currentIndex);
          });
        });
      });
    </script>
  </body>
</html>
