<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>Chapitre n°2</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../src/css/main_style.css" rel="stylesheet" />
    <link href="../src/css/guided_visit.css" rel="stylesheet" />
    <link href="../src/css/frise.css" rel="stylesheet" />
    <!-- Roboto Regular 400 font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main_div">
      <div id="menu_panel" class="menu_panel_closed">
        <div id="menu_mask"></div>
        <div id="menu_header">
          <button id="menu_header_button">
            <img
              id="menu_header_img"
              src="../assets/icons/Vector.svg"
              alt="Vector icon"
            />
          </button>
        </div>
        <div id="menu_content">
          <div class="frise">
            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx" id="0">
                    <div class="timestamp">
                      Les industries de la vallée dans l'entre-deux-guerres
                    </div>
                    <div class="item-title">1932</div>
                    <div class="item-desc">
                      Publication de la carte industrielle de la Loire, Société
                      de documentation industrielle, Paris.
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="2">
                    <div class="timestamp">
                      L'avènement de la grosse mécanique
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="3">
                    <div class="timestamp">
                      Concentration des entreprises au sein de grands groupes de
                      métallurgie-mécanique
                    </div>
                    <div class="item-title">1953</div>
                    <div class="item-desc">
                      Constitution de la compagnie des ateliers et forges de la
                      Loire (CAFL)
                    </div>
                    <div class="item-title">1970</div>
                    <div class="item-desc">
                      Constitution du groupe Creusot-Loire
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="4">
                    <div class="timestamp">
                      Le groupe Creusot Loire dans la vallée du Gier
                    </div>
                    <div class="item-title">1971</div>
                    <div class="item-desc">
                      Constitution du groupe Creusot Loire
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="5">
                    <div class="timestamp">
                      L'héritage des divisions du groupe Creusot-Loire
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="10">
                    <div class="timestamp">
                      A Saint-Chamond, des blindés pour l'armée française
                    </div>
                    <div class="item-title">1973</div>
                    <div class="item-desc">
                      Création du Groupement industriel des armements terrestres
                      (GIAT)
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="11">
                    <div class="timestamp">Eclatement et diversification</div>
                    <div class="item-title">1984</div>
                    <div class="item-desc">
                      Liquidation du groupe Creusot-Loire
                    </div>
                    <div class="item-title">1990</div>
                    <div class="item-desc">GIAT devient GIAT industries</div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="12">
                    <div class="timestamp">
                      De GIAT industries à Novacieries
                    </div>
                    <div class="item-title">2003</div>
                    <div class="item-desc">
                      Fermeture du site GIAT industries de Saint-Chamond
                    </div>
                  </li>

                  <li class="rb-item" ng-repeat="itembx" id="14">
                    <div class="timestamp">Une vallée désindustrialisée ?</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="home_panel" class="half_width green">
        <div class="content_panel">
          <div class="text_panel panel">
            <h1 class="visit_number">Chapitre n°2</h1>
            <h1 class="visit_title">
              De la diversification à la concentration des sites industriels au
              XXe siècle
            </h1>
            <div class="img_div">
              <img
                src="https://raw.githubusercontent.com/LorenzoMarnat/VDG_images/main/PH2/home.png"
              />
              <button class="info_button">
                <img src="../assets/icons/Info.svg" />
              </button>
              <div class="info_div">
                Extrait de la carte industrielle de France - Département de la
                Loire. Société de documentation industrielle (Paris,
                Strasbourg), 1932. Bibliothèque Nationale de France, Gallica [<a
                  href="https://gallica.bnf.fr/ark:/12148/btv1b53213376t/f1.item.zoom"
                  >En ligne</a
                >]
              </div>
            </div>
          </div>
          <div class="caption_panel panel"></div>
          <div class="info_text_panel panel">
          </div>
          <div class="footer_panel panel">
            <div>
              <button id="start_button" class="arrow_button button_right">
                <img
                  class="arrow_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="main_panel" class="green_border">
        <div class="content_panel">
          <div class="header_panel panel">
            <div id="categories_div"></div>
          </div>
          <div class="text_panel panel">
            <div id="media_container"></div>
          </div>
          <div class="caption_panel panel"></div>
          <div class="footer_panel panel">
            <div id="progress_div">
              <button id="previous_button" class="arrow_button button_left">
                <img
                  class="arrow_img green_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
              <h3 id="progress_count"></h3>
              <button id="next_button" class="arrow_button button_right">
                <img
                  class="arrow_img green_img"
                  src="../assets/icons/Arrow.svg"
                  alt="arrow icon"
                />
              </button>
            </div>
          </div>
        </div>
        <button id="close_button">
          <div id="close_arrow"></div>
        </button>
        <div id="layer_div">
          <div id="layer_panel"></div>
          <button id="layer_button">
            <img
              id="layer_button_icon"
              src="../assets/icons/layerChoice.svg"
              alt="Layer choice icon"
            />
          </button>
        </div>
      </div>
      <button id="homepage_button" onclick="location.href = '../index.html';">
        <img
          id="homepage_img"
          src="../assets/icons/Industry_building.svg"
          alt="homepage button"
        />
      </button>
    </div>
    <script src="../dist/release/vdg_app.js"></script>
    <!-- <script src="../dist/debug/vdg_app.js"></script> -->
    <script type="text/javascript">
      const list = [];
      const urls = [
        '../assets/config/visitConfig.json',
        '../assets/config/mediaConfig.json',
        '../assets/config/captionConfig.json',
      ];
      const configs = [];

      urls.forEach(function (url, i) {
        list.push(
          fetch(url)
            .then((response) => response.json())
            .then((json) => {
              configs[i] = json;
            })
        );
      });

      Promise.all(list).then(function () {
        const visitConfig = configs[0];
        const mediaConfig = configs[1];
        const captionConfig = configs[2];
        const app = new vdg_app.Templates.AllWidget();

        app.start('../assets/config/layerConfig.json').then((config) => {
          vdg_app.addLabelLayers(config, app.view3D.getItownsView());

          const visit = new vdg_app.GuidedVisit(app.view3D, mediaConfig.medias);

          const timestamps = document.querySelectorAll('.rb-item');
          for (const timestamp of timestamps) {
            timestamp.addEventListener('click', function () {
              visit.goToNode(parseInt(timestamp.id, 10));
            });
          }

          let allWidgetPanel = document.getElementById(
            '_all_widget_stuct_main_panel'
          );
          allWidgetPanel.style.display = 'block';
          allWidgetPanel.querySelector('nav').style.display = 'none';
          window.dispatchEvent(new Event('resize'));

          const conf = visitConfig.visits.find((v) => v.id == 'PH2');
          visit.init(conf, captionConfig);
          visit.filterLayers([
            'Ortho_IGN',
            'communes',
            'BATI-AUTRE',
            'BATI-INDUS',
          ]);
          const startButton = document.getElementById('start_button');
          startButton.addEventListener('click', function () {
            document.getElementById('home_panel').style.display = 'none';
            document.getElementById('main_panel').style.display = 'flex';
            visit.start();
          });
        });
      });
    </script>
  </body>
</html>
