.pink {
  background: #e5127b;
  color: white;
}

.green {
  background: #849130;
  color: white;
}

.blue {
  background: #537eb0;
  color: white;
}

.grey {
  background: #c0cbd3;
  color: white;
}

.pink_selected {
  background: white;
  border: 3px solid #e5127b;
  color: #e5127b;
}

.pink_selected img {
  filter: invert(19%) sepia(73%) saturate(5887%) hue-rotate(319deg)
    brightness(91%) contrast(96%);
}

.green_selected {
  background: white;
  border: 3px solid #849130;
  color: #849130;
}

.green_selected img {
  filter: invert(50%) sepia(94%) saturate(300%) hue-rotate(28deg)
    brightness(90%) contrast(88%);
}

.blue_selected {
  background: white;
  border: 3px solid #537eb0;
  color: #537eb0;
}

.blue_selected img {
  filter: invert(49%) sepia(6%) saturate(3584%) hue-rotate(172deg)
    brightness(94%) contrast(83%);
}

.pink_selected_hover:hover {
  background: #cccccc;
  border: 3px solid #b70e62;
  color: #b70e62;
}

.green_selected_hover:hover {
  background: #cccccc;
  border: 3px solid #697426;
  color: #697426;
}

.blue_selected_hover:hover {
  background: #cccccc;
  border: 3px solid #41648d;
  color: #41648d;
}

.pink_hover:hover {
  background: #b70e62;
}

.green_hover:hover {
  background: #697426;
}

.blue_hover:hover {
  background: #41648d;
}

.grey_hover:hover {
  background: #90a3b1;
}

#menu_panel {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fcf9e8;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 9;
}

.menu_panel_closed {
  width: 4%;
}

.menu_panel_open {
  width: 15%;
}

#menu_header {
  height: 10%;
}

#menu_header_button {
  position: relative;
  top: 20%;
  width: 35px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
  cursor: pointer;
  margin: 0px;
  background: #fcf9e8;
  padding: 0px;
}

#menu_header_img {
  max-width: 100%;
  max-height: 100%;
}

.menu_panel_closed #menu_header_button {
  left: 50%;
  transform: translateX(-50%);
}

.menu_panel_open #menu_header_button {
  left: 20px;
}

.menu_panel_closed #menu_header_img {
  transform: rotate(90deg);
}

#menu_content {
  padding: 20px 25px;
  height: 90%;
  position: relative;
}

.menu_panel_closed #menu_content {
  display: none;
}

#visit_choice {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  gap: 5%;
}

#open_visit_choice {
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: column;
}

#open_visit_choice > button {
  top: 30%;
}

.visit_button {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  position: relative;
  height: 16vh;
  cursor: pointer;
}

.visit_button > p {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 5%;
  margin: 0px;
  text-align: left;
}

.visit_button > img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 274px;
  height: 189px;
  max-width: 60%;
  max-height: 60%;
}

.img_reversed {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#main_panel {
  left: 4%;
}

.full_width {
  width: 90%;
}

.half_width {
  width: 46%;
}

#content_panel {
  padding: 0px 30px 0px 30px;
}

#header_panel {
  border-bottom: 1px solid #585858;
}

#footer_panel {
  border-top: 1px solid #585858;
}

#close_button {
  display: none !important;
}

.recap-button {
  position: relative;
  display: inline-block;
  left: 50%;
  margin: 10px 0px;
  width: 160px;
  height: 50px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #a5a5a5;
  border-radius: 12px;
  background-color: #fff;
  border: solid 1px #bfbfbf;
  cursor: pointer;
  transform: translateX(-50%);
}

.recap-button:hover {
  background-color: rgb(235, 234, 234);
}

#categories_div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category_button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-weight: normal;
  cursor: pointer;
  margin: auto;
  padding: 0px 10px;
}

.category_button:hover {
  color: #a5a5a5;
}

#progress_div {
  display: flex;
  flex-direction: row;
}

#progress_count {
  padding: 0px;
  margin: auto;
  font-size: 15px;
}

.arrow_button {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  flex: 0 0 16px;
  height: 16px;
}

.arrow_button:hover {
  border: solid #a5a5a5;
  border-width: 0 4px 4px 0;
}

.arrow_button:disabled {
  border: solid #a5a5a5;
  border-width: 0 4px 4px 0;
  cursor: default;
}

.button_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: auto;
}

.button_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: auto;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.formbuilder-checkbox,
.formbuilder-radio,
.radio,
.checkbox {
  margin: 10px auto 10px auto;
  height: 60px;
  width: 130px;
}

label {
  font-size: 22px;
  font-weight: bold;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  background-color: #a5a5a5;
  border: solid 1px #bfbfbf;
  cursor: pointer;
}

input[type='radio']:checked + label,
input[type='checkbox']:checked + label {
  color: #a5a5a5;
  background-color: #ffffff;
}

input[type='radio']:not(:checked):hover + label,
input[type='checkbox']:hover + label {
  background-color: #929292;
}

input[type='checkbox']:checked:hover + label {
  background-color: rgb(235, 234, 234);
}

output {
  display: none;
}

#fs_image_background {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
  backdrop-filter: blur(6px);
  z-index: 9;
}

.fs_image {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 9;
  display: flex;
  height: -webkit-fill-available;
  height: -moz-available; /* TO FIX */
}

.fs_image_caption {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 15px;
  height: fit-content;
}
