body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #000000;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-weight: 400;
  font-size: 20px;
}

#home_section {
  width: 100vw;
  height: 100vh;
}

#home_img {
  width: 100vw;
  height: 55vh;
}

#home_content {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, white 70%, #fcf9e8 30%);
}

#home_content > h1,
#home_content > h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 900;
}

#main_title {
  width: 33vw;
  color: #e5127b;
  font-size: 3vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

#sub_title {
  width: 70vw;
  color: black;
  font-size: 2vw;
  margin-top: 0px;
  margin-bottom: 4vh;
}

#home_content > button {
  background: #849130;
  border-radius: 25px;
  color: white;
  width: 25vw;
  height: 6vh;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  border: 0px;
  cursor: pointer;
}

.visit_section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
