.pink {
  background: #e5127b;
  color: white;
}

.green {
  background: #849130;
  color: white;
}

.blue {
  background: #537eb0;
  color: white;
}

.green_disabled {
  background: #8491304d;
  color: white;
}

.blue_disabled {
  background: #537eb04d;
  color: white;
}

.grey {
  background: #c0cbd3;
  color: white;
}

.pink_hover:hover {
  background: #b70e62;
}

.green_hover:hover {
  background: #697426;
}

.blue_hover:hover {
  background: #41648d;
}

.grey_hover:hover {
  background: #90a3b1;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #000000;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-weight: 400;
  font-size: 20px;
}

button {
  border: 0px;
}

#home_section {
  width: 100vw;
  height: 100vh;
}

#home_img_div {
  width: 100vw;
  height: 55vh;
  position: relative;
}

#home_img {
  width: 100%;
  height: 100%;
}

#home_content {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, white 70%, #fcf9e8 30%);
}

#home_content > h1,
#home_content > h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 900;
}

#main_title {
  width: 33vw;
  color: #e5127b;
  font-size: 3vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

#sub_title {
  width: 70vw;
  color: black;
  font-size: 2vw;
  margin-top: 0px;
  margin-bottom: 4vh;
}

.home_button {
  background: #849130;
  border-radius: 25px;
  color: white;
  width: 26vw;
  height: 6vh;
  position: absolute;
  top: 70%;
  font-size: 1vw;
  cursor: pointer;
}

#home_button_left {
  left: 13vw;
  transform: translateY(-50%);
}

#home_button_right {
  left: 63vw;
  transform: translateY(-50%);
}

.visit_section {
  height: 100vh;
  position: relative;
  padding: 0px 10vw 0px 10vw;
}

#visit_section_1 {
  padding: 5vh 10vw 0px 10vw;
}

#visit_section_2 {
  height: 60vh;
}

.intro_div {
  height: 20vh;
  position: relative;
}

.intro_text {
  width: 30vw;
}

.intro_text > h1 {
  color: #e5127b;
  font-weight: bold;
  font-size: 2.5vw;
  margin: 0px 0px 10px 0px;
}

.intro_text > h2 {
  color: #e5127b;
  font-weight: normal;
  font-size: 1.5vw;
}

.intro_img {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%);
  max-height: 15vh;
}

.title_div {
  position: relative;
  height: 10vh;
  width: 80vw;
}

.title_bg {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  line-height: 1.5vh;
  font-weight: bold;
  background: #fcf9e8;
  text-align: center;
}

.title_bg > h1 {
  margin-bottom: 15px;
  font-size: 3vh;
  transform: translateY(-35%);
}

.visit_main_title_div {
  width: 25vw;
}

.visit_sub_title_div {
  width: 30vw;
}

.description_div {
  position: relative;
  height: 18vh;
  width: 80vw;
  font-size: min(2.3vh, 1.2vw);
}

.visit_choice_div {
  position: relative;
  height: 27vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.visit_button {
  flex: 1 1 0px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
}

.visit_button > p {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 5%;
  margin: 0px;
  text-align: left;
  font-size: 3vh;
}

.visit_button > img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 274px;
  height: 189px;
  max-width: 60%;
  max-height: 60%;
}

.img_reversed {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.open_visit_div {
  position: relative;
  height: 12vh;
  width: 80vw;
  background: #fcf9e8;
  border-top: 3px solid #e5127b;
  border-bottom: 3px solid #e5127b;
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.open_visit_desc {
  position: relative;
  width: 66%;
  height: 100%;
  margin: 0px;
  padding-left: 20px;
}

.open_visit_desc > p {
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2vw;
  margin: 0px;
}

.open_visit_button {
  position: relative;
  width: 34%;
  height: 100%;
}

.open_visit_button > button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 33%;
  cursor: pointer;
  border-radius: 25px;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9vw;
}

.info_button {
  z-index: 11;
  display: flex;
  background: transparent;
  cursor: pointer;
  margin: 0px;
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.info_div {
  display: none;
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: fit-content;
  max-width: 20%;
  height: fit-content;
  min-height: 30px;
  background: rgba(252, 249, 232, 0.8);
  border-radius: 10px;
  margin-right: auto;
  padding: 10px 35px 10px 10px;
  font-size: 12px;
}

.info_button:hover + .info_div,
.info_div:hover {
  display: block;
}
