#main_panel {
  background: rgba(252, 249, 232, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  width: 36%;
  left: 0px;
}

#header_panel {
  padding: 10px 30px 0px 30px;
}

#content_panel {
  overflow: scroll;
  overflow-x: hidden;
}

#legend_panel {
  position: absolute;
  background: rgba(252, 249, 232, 0.8);
  border-radius: 10px;
  width: 80%;
  height: 100%;
  left: 100%;
  display: none;
  overflow: scroll;
  overflow-x: hidden;
}

#legend_div {
  margin: 25px 30px;
}

#legend_div h1 {
  font-size: 24px;
}

#legend_button {
  z-index: 11;
  display: flex;
  background: transparent;
  cursor: pointer;
  margin: 0px;
  position: absolute;
  top: 7px;
  right: 7px;
}

#info_container {
  display: none;
  padding: 0px 30px 0px 30px;
}

.title_bg {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  line-height: 2vh;
  font-weight: bold;
  background: #fcf9e8;
}

#main_title_div {
  width: 65%;
}

#sub_title_div {
  width: 80%;
}

.title_bg > h1 {
  margin: 15px;
  font-size: 3vh;
  transform: translateY(-35%);
  text-align: center;
}

#panel_switch {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 30px 0px 50px 0px;
}

.panel_switch_button {
  height: 25px;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  font-size: 1vw;
  text-align: center;
  cursor: pointer;
}

.unselected_button {
  background: #fcf9e8;
  color: #000000;
  font-weight: normal;
}

.selected_button {
  background: #e5127b;
  color: #ffffff;
  font-weight: bold;
}

#info {
  display: none;
  flex-direction: column;
}

.info_div {
  width: 100%;
  height: 25px;
  margin: 10px 0px 10px 0px;
}

.info_img {
  width: 30px;
  height: 25px;
  position: relative;
  left: 0px;
  top: 0px;
}

.attribute_field {
  position: relative;
  width: 80%;
  left: 50px;
  top: -25px;
  margin: 0px;
  font-size: 1vw;
  text-align: left;
}

.attribute_desc {
  display: none;
}

#categories_container {
  display: flex;
  flex-direction: column;
}

.ov_category {
  margin: 10px 0px 40px 0px;
}

.ov_category_button {
  background: #fcf9e8;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  border-radius: 20px;
  height: 8px;
  padding: 0px 5px 0px 5px;
}

.ov_legended_category_button {
  background: #fcf9e8;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  border-radius: 0px;
  height: 1.4vw;
  padding: 0px 5px 0px 5px;
  align-items: center;
}

.ov_category_name {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 1vw;
  font-weight: bold;
}

.ov_category_button > .ov_category_name {
  bottom: 80%;
  line-height: 16px;
}

.ov_legended_category_button > .ov_category_name {
  flex-grow: 1;
}

.ov_category_square {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  background-color: transparent;
}

.ov_category_button > .ov_category_square {
  position: relative;
  bottom: 2px;
  margin-left: auto;
}

.ov_legended_category_button > .ov_category_square {
  position: absolute;
  right: 3vw;
}

.ov_legend_button {
  position: absolute;
  right: 15px;
  background-image: url("../../assets/icons/Info.svg");
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 0.8vw;
  height: 0.8vw;
  z-index: 9;
}

.square_right {
  transform: rotate(135deg);
}

.square_down {
  transform: rotate(45deg);
}

.ov_category_content {
  margin: 0px 20px;
}

.ov_legended_category_button ~ .ov_category_content {
  margin-top: 30px;
}

.ov_content {
  display: block;
  margin: 10px 0px;
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 3px;
}

.ov_content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.ov_content_displayed {
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.building_info_field {
  margin: 0px;
}
