body {
  width: 100%;
  display: block;
  font-family: 'Inter';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  font-weight: normal;
}

h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h3 {
  margin: 10px 0px;
}

a {
  color: #000000 !important;
}

img,
video,
audio {
  max-width: 100%;
  max-height: 700px;
  margin: 0px auto;
}

#main_div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

#main_panel {
  background: rgba(217, 217, 217, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  font-size: 17px;
  display: flex;
  position: relative;
  width: 25%;
  height: 100%;
  z-index: 8;
  flex-direction: column;
}

#content_panel {
  padding: 0px 30px 0px 30px;
  overflow: auto;
  display: block;
}

.panel {
  padding: 20px 0px 20px 0px;
  position: relative;
}

#form_container {
  display: flex;
  flex-direction: column;
}

.recap-button {
  position: relative;
  display: inline-block;
  left: 50%;
  margin: 10px 0px;
  width: 160px;
  height: 50px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #a5a5a5;
  border-radius: 12px;
  background-color: #fff;
  border: solid 1px #bfbfbf;
  cursor: pointer;
  transform: translateX(-50%);
}

.recap-button:hover {
  background-color: rgb(235, 234, 234);
}

#progress_count {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow_button {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}

.arrow_button:hover {
  border: solid #a5a5a5;
  border-width: 0 6px 6px 0;
  padding: 10px;
}

.button_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 30%;
  margin: 0 10px 0 0;
}

.button_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 30%;
  margin: 0 0 0 10px;
}

#close_button {
  height: 50px;
  width: 28px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 5px 5px 0px;
  display: inline-block;
  top: 10%;
  right: -28px;
  position: absolute;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
}

#close_arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 9px;
}

#close_arrow:hover {
  border: solid #a5a5a5;
  border-width: 0 3px 3px 0;
  padding: 7px;
}

.formbuilder-checkbox,
.formbuilder-radio {
  position: relative;
  width: 91px;
  height: 48px;
  margin: 5px;
  float: left;
}

.formbuilder-checkbox input,
.formbuilder-radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.formbuilder-checkbox label,
.formbuilder-radio label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  background-color: #a5a5a5;
  border: solid 1px #bfbfbf;
}

.formbuilder-checkbox-group,
.formbuilder-text-label,
.formbuilder-select-label,
.formbuilder-radio-group-label {
  font-size: 22px;
  font-weight: bold;
}

#fs_image_background {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
  backdrop-filter: blur(6px);
  z-index: 9;
}

.fs_image {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 9;
  display: flex;
  height: -webkit-fill-available;
  height: -moz-available; /* TO FIX */
}

.fs_image_caption {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 15px;
  height: fit-content;
}

.ov_category_button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.ov_category_name {
  padding: 0px;
  font-size: 20px;
  line-height: 24px;
}

.ov_category_square {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.square_right {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #585858;
}

.square_down {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #585858;
}

.ov_category_content {
  margin: 0px 0px 0px 10px;
}

.ov_content {
  display: block;
  margin: 10px 0px;
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 3px;
}

.ov_content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.caption_div {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.caption_square {
  flex: 0 0 30px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #d9d9d9;
  text-align: center;
  line-height: 30px;
}

.caption_text {
  margin: auto 0px auto 20px;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
}
