h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

#entry_panel {
  float: left;
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}

#text_div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

#text_panel {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 8;
  padding: 36px 0 10px 0;
  margin: 2%;
  border-radius: 37px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  color: #707070;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#form_container::-webkit-scrollbar {
  display: none;
}

#form_container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0px 50px;
}

#recap_panel {
  float: left;
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
}

.arrow_button {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  top: 50%;
  position: absolute;
  cursor: pointer;
}

.arrow_button:hover {
  border: solid #a5a5a5;
  border-width: 0 6px 6px 0;
  padding: 13px;
}

.button_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 0;
  margin: 0 10px 0 0;
}

.button_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 0;
  margin: 0 0 0 10px;
}

.formbuilder-checkbox,
.formbuilder-radio {
  position: relative;
  width: 91px;
  height: 48px;
  margin: 5px;
  float: left;
}

.formbuilder-checkbox input,
.formbuilder-radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.formbuilder-checkbox label,
.formbuilder-radio label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  background-color: #a5a5a5;
}

.formbuilder-checkbox-group,
.formbuilder-text-label,
.formbuilder-select-label,
.formbuilder-radio-group-label {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
